<footer>
  <div class="paises">
    <img class="idioma" src="/img/brasil 1.png" alt="Bandeira do Brasil">
    <img class="idioma" src="/img/estados-unidos 1.png" alt="Bandeira dos Estados Unidos">
    <img class="idioma" src="/img/spain 1.png" alt="bandeira Espanha">
  </div>
  <h4>Idioma selecionado: Português</h4>
  <h6>Desenvolvido por: Ananias Barbosa Gomes</h6>
</footer>
</div>
<script src="/js/autocomplete.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDge16dGWGRmcxOkEYWvAwNtT9y26sJ4Ig&libraries=places&callback=initAutocomplete"
  async defer></script>
</body>

</html>